<div class="col s12 m5 l2">
  <div class="card-panel red hand" (click)="openReactionModal()">
    <div class="valign-wrapper">
      <img src="../../assets/icons/structure.svg" class="img-small ico-white">
      <span class="white-text somePadding">{{structure}}</span>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal-structure-{{structure}}" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s1">
        <img src="../../assets/icons/structure.svg">
      </div>
      <div class="col s10">
        <h4><a href="{{structureLink}}" target="_blank"><span class=" somePadding">{{structure}}</span></a></h4>
      </div>
      <div class="col s1">
        <a class="modal-action waves-effect waves-green btn-flat"  (click)="closeReactionModal()" ><i class="large material-icons">close</i></a>
      </div>
    </div>
    <div class="divider"></div>


    
    <!-- <div class="container">
      <div id="3dmol-{{structure}}"></div>
    </div> -->
    

    <!-- <app-web3dmol-view [uniprot]='uniprot' [structure]='getStructureName(structure)'></app-web3dmol-view> -->

    <div id="3dmol_{{structure}}">
        <div [innerHTML]="dmol"></div>
    </div>
    
    <div>
      <p>Sites actives: <strong class="red">CANONICAL</strong> <strong class="blue">PROMISCUOUS</strong></p> 
    </div>
    
    <!-- <div id="viewer-{{structure}}" class="container"></div> -->
  <!-- 
    <div>
      <a class="btn-floating btn waves-effect waves-light" (click)="autoZoom()" title="Center"><i class="material-icons">center_focus_strong</i></a>
      
      <a class="btn-floating btn waves-effect waves-light" (click)="rotate()" title="Rotate"><i class="material-icons">rotate_right</i></a> -->

      <!-- Dropdown Trigger -->
      <!-- <a materialize="dropdown" class='dropdown-button btn' data-activates='dropdown1'><i class="material-icons right">arrow_drop_down</i>Style</a> -->
      <!-- Dropdown Structure -->
      <!-- <ul id='dropdown1' class='dropdown-content'>
        <li (click)="lines()"><a>Lines</a></li>
        <li (click)="cartoon()"><a>Cartoon</a></li>
        <li (click)="lineTrace()"><a>Line Trace</a></li>
        <li (click)="tube()"><a>Tube</a></li>
        <li (click)="trace()"><a>Trace</a></li>
      </ul> 
    -->
      
    </div>
    <br>
</div>
