<footer class="page-footer red lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">The Structural Bioinformatics Group</h5>
        <p class="grey-text text-lighten-4">Our group is focused in the use and development of molecular evolutionary models to understand structure-function-dynamics relationship of proteins.
        </p>

      </div>
      <div class="col l3 s12">
        <h5 class="white-text">SBG Tools & Databases</h5>
        <ul>
          <li><a class="white-text" target="_blank" href="http://ufq.unq.edu.ar/codnas/index.php">CoDNaS</a></li>
          <li><a class="white-text" target="_blank" href="http://revenant.inf.pucp.edu.pe/">RevenantDB</a></li>
          <li><a class="white-text" target="_blank" href=" http://ip138.qb.fcen.uba.ar/embnet/charge.php?app=BeEP&chains=NO">BeEP</a></li>
          <li><a class="white-text" routerLink="/home" >ProtMiscuity</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">External resources</h5>
        <ul>
          <li><a class="white-text" target="_blank" href="http://www.uniprot.org/">Uniprot</a></li>
          <li><a class="white-text" target="_blank" href="https://www.rcsb.org/">PDB</a></li>
          <li><a class="white-text" target="_blank" href="http://www.genome.jp/kegg/">KEGG</a></li>
          <li><a class="white-text" target="_blank" href="http://www.ebi.ac.uk/thornton-srv/databases/CSA/">CSA</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      ProtMiscuity was created and maintained by the <a class="orange-text text-lighten-3" href="http://ufq.unq.edu.ar/sbg/software/index.html">Structural Bioinformatics Group</a>
    </div>
  </div>
</footer>
