<nav  class="red lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/#/home" class="brand-logo"><i class="material-icons"></i>ProtMiscuity</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/#/proteins"><i class="material-icons right">search</i>Proteins</a></li>
      <li><a href="/#/download"><i class="material-icons right">file_download</i>Download</a></li>
      <li><a href="/#/stats"><i class="material-icons right">equalizer</i>Stats</a></li>
      <li><a href="/#/tutorial"><i class="material-icons right">assistant</i>Tutorial</a></li>
      <li><a href="/#/contact"><i class="material-icons right">chat</i>Contact</a></li>
      <li><a href="/#/about"><i class="material-icons right">info_outline</i>About</a></li>
      <li><a href="/#/faqs"><i class="material-icons right">live_help</i>FAQs</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/#/proteins"><i class="material-icons right">search</i>Proteins</a></li>
      <li><a href="/#/download"><i class="material-icons right">file_download</i>Download</a></li>
      <li><a href="/#/stats"><i class="material-icons right">equalizer</i>Stats</a></li>
      <li><a href="/#/tutorial"><i class="material-icons right">assistant</i>Tutorial</a></li>
      <li><a href="/#/contact"><i class="material-icons right">chat</i>Contact</a></li>
      <li><a href="/#/about"><i class="material-icons right">info_outline</i>About</a></li>
      <li><a href="/#/faqs"><i class="material-icons right">live_help</i>FAQs</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
