<div class="container">
  <h4 class="center" style="color:#616161"> Stats
  </h4>
  <br><br>
  <div class="row">
    <div class="col s6">
    <table class="striped" style="margin-top:30px">
      <thead>
        <tr>
            Summary
        </tr>
      </thead>
  <tbody>
    <tr>
      <td><strong>Total different proteins</strong></td>
      <td>65</td>
    </tr>
    <tr>
      <td><strong>Total different organisms</strong></td>
      <td>43</td>
    </tr>
    <tr>
      <td><strong>Total of PDB structures linked</strong></td>
      <td>1811</td>
    </tr>
    <tr>
      <td><strong>Total characterized reactions</strong></td>
      <td>110</td>
    </tr>
    <tr>
      <td><strong>Total of canonic reactions characterized</strong></td>
      <td>44</td>
    </tr>
    <tr>
      <td><strong>Total of promiscuous reactions characterized</strong></td>
      <td>66</td>
    </tr>
    <tr>
      <td><strong>Total subtrates and products</strong></td>
      <td>238</td>
    </tr>
  </tbody>
</table>
</div>
<div class="col s6">
    <fusioncharts
        [id]="dataSourceColumnChart2.id"
        [width]="dataSourceColumnChart2.width"
        [height]="dataSourceColumnChart2.height"
        [type]="dataSourceColumnChart2.type"
        [dataFormat]="dataSourceColumnChart2.dataFormat"
        [dataSource]="dataSourceColumnChart2.dataSource">
      </fusioncharts>
</div>

<div class="row">
    <div class="col s12" style="margin-top:25px">
        <fusioncharts
          [width]="dataSourcePie1.width"
          [height]="dataSourcePie1.height"
          [type]="dataSourcePie1.type"
          [dataFormat]="dataSourcePie1.dataFormat"
          [dataSource]="dataSourcePie1.dataSource">
      </fusioncharts>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col s6" style="margin-top:25px">
        <fusioncharts
          [width]="dataSourcePie2.width"
          [height]="dataSourcePie2.height"
          [type]="dataSourcePie2.type"
          [dataFormat]="dataSourcePie2.dataFormat"
          [dataSource]="dataSourcePie2.dataSource">
      </fusioncharts>
    </div>

      <div class="col s6" style="margin-top:25px">
          <fusioncharts
              [id]="dataSourceColumnChart.id"
              [width]="dataSourceColumnChart.width"
              [height]="dataSourceColumnChart.height"
              [type]="dataSourceColumnChart.type"
              [dataFormat]="dataSourceColumnChart.dataFormat"
              [dataSource]="dataSourceColumnChart.dataSource">
            </fusioncharts>
      </div>

    </div>

</div>
