<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class="row">
          <div class="center col 12 m8 offset-m2 l6 offset-l3">
                      <img src="../../assets/icons/Logo_Ana_X.png" class="img-medium" style="width:100%">
          </div>
    </div>

    <div class="row center">
    </div>
  </div>
</div>

<div class="section no-pad-bot">
  <div class="container">
    <search-component class="search-component"></search-component>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s6">
        <div class="icon-block">
          <h2 class="center light-blue-text">
          </h2>
          <h5 class="center">Welcome to ProtMiscuity</h5>
          <p class="light">
            <strong style="color:#616161">ProtMiscuity</strong> is a database of catalytic promiscuous proteins obtained through the implementation of web-scraping, text-mining and manual curation over more than 500 scientific publications. <strong style="color:#616161">ProtMiscuity</strong> provides a useful protein dataset for exploring the relationship between protein structure and function, while helping in the discovery of putative catalytic activities or substrates and the development of new predictions tools.
          </p>
        </div>
      </div>

      <div class="col s6">
        <div class="icon-block">
          <h2 class="center light-blue-text">
          </h2>
          <h5 class="center">Citing ProtMiscuity</h5>
          <p class="light">
            <a href="http://ufq.unq.edu.ar/sbg/publications/index.html">ProtMiscuity: Promiscuous Proteins Database</a>. Ana Julia Velez Rueda, Nicolás Palopoli, Matías Zacarías, Leandro Matias Sommese, Gustavo Parisi.
          </p>
          <h5 class="center">Contact Information</h5>
          <p class="light">
            For questions, comments or if you want to collaborate with <strong style="color:#616161">ProtMiscuity</strong>, please <a routerLink="/contact"> contact us.</a>
          </p>
        </div>
      </div>

<div class="row">
      <div class="center col s6 m8 offset-m2 l6 offset-l3" style="margin-top:25px">
        <a href="http://ufq.unq.edu.ar/sbg/" target="_blank">
              <img src="../../assets/icons/sbg_color.png"  class="img-small" style="width:25%">
        </a>
        <a href="http://www.unq.edu.ar/" target="_blank">
                  <img src="../../assets/icons/quilmes_color.png" class="img-small" style="width:29%">
        </a>
      </div>
</div>

  </div>
  <br><br>
</div>
