<div class="col l3 m6 s12">

  <div class="card small red lighten-1 hoverable" >
    <br>
    <div class="divider gray"></div>
    <div class="center white-text hand" (click)="openReactionModal()" *ngFor="let name of getNames(reaction.nombre)">
      <span class="card-title" >{{name}}</span>
      <div class="divider gray"></div>
    </div>
    <div class="card-action hand" (click)="openReactionModal()">
      <p><strong>Ec:</strong> {{reaction.ec}}</p>
      <p><strong>Type:</strong> {{reaction.tipo}}</p>
    </div>

    <!-- Modal Structure -->
    <div id="modal-reaction-{{reaction.id}}" class="modal">
      <div class="modal-content">
        <div class="row">
          <div class="col s1">
            <img src="../../assets/icons/reaccion.svg">
          </div>
          <div class="col s10">
            <h4>{{reaction.nombre}}</h4>
          </div>
          <div class="col s1">
            <a class="modal-action waves-effect waves-green btn-flat"  (click)="closeReactionModal()" ><i class="large material-icons">close</i></a>
          </div>
        </div>
        <div class="divider"></div>
        <br>
        
        <div class="row">
          <p>EC: <strong>{{reaction.ec}}</strong></p>
          <div class="divider"></div>
          <p>Type: <strong>{{reaction.tipo}}</strong></p>
          <div class="divider"></div>
        </div>

        <p>Molecules:</p>
        <div class="row">
          <div class="col s12">
            <ul class="tabs" id="tab{{getNameOnlyLetters()}}">
              <li class="tab col s1"></li>
              <li class="tab col s5" [class.disabled]="!hasMolecules('REACTIVO')"><a class="active" href="#reactive{{getNameOnlyLetters()}}">substrates ({{amountOfMolecules('REACTIVO')}})</a></li>
              <li class="tab col s5" [class.disabled]="!hasMolecules('PRODUCTO')"><a href="#product{{getNameOnlyLetters()}}">products ({{amountOfMolecules('PRODUCTO')}})</a></li>
              <li class="tab col s1"></li>
            </ul>
          </div>
          <div id="reactive{{getNameOnlyLetters()}}" class="col s12" *ngIf="hasMolecules('REACTIVO')">
              <br>
              <table class="striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>km</th>
                    <th>Kcat</th>
                    <th>Kmcat</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cinetica of getMolecules('REACTIVO')">
                    <td>
                      <a href="{{cinetica.molecula.link}}" target="_blank">
                        <div style="height:100%;width:100%">
                            {{cinetica.molecula.nombre}}
                        </div>
                      </a>
                    </td>
                    <td>{{cinetica.km}}</td>
                    <td>{{cinetica.kcat}}</td>
                    <td>{{cinetica.kmcat}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div id="product{{getNameOnlyLetters()}}" class="col s12" *ngIf="hasMolecules('PRODUCTO')">
                <br>
                <table class="striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>km</th>
                      <th>Kcat</th>
                      <th>Kmcat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cinetica of getMolecules('PRODUCTO')">
                      <td>
                        <a href="{{cinetica.molecula.link}}" target="_blank">
                          <div style="height:100%;width:100%">
                              {{cinetica.molecula.nombre}}
                          </div>
                        </a>
                      </td>
                      <td>{{cinetica.km}}</td>
                      <td>{{cinetica.kcat}}</td>
                      <td>{{cinetica.kmcat}}</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
