<br>
<div class="row">
  <div class="col s3">
    <a class="btn-floating btn-large waves-effect waves-light red lighten-1" routerLink="/proteins"><i class="material-icons">arrow_back</i></a>
  </div>
  <div class="col s9 m7">
    <h4 class="header center-align flow-text">{{protein.nombre}}</h4>
  </div>
</div>
  
<div>

  <ul class="collapsible popout" data-collapsible="accordion">

    <li>
      <div class="collapsible-header valign-wrapper">
        <img src="../../assets/icons/protein.svg" class="img-small">
        <p class="flow-text"> Protein general information</p>
      </div>
      <div class="collapsible-body">
        <p>Name: <strong>{{protein.nombre}}</strong></p>
        <div class="divider"></div>
        <p>Organism: <strong>{{protein.organismo}}</strong></p>
        <div class="divider"></div>
        <p>Family: <strong>{{protein.familia}}</strong></p>
        <div class="divider"></div>
        <p>Uniprot Id: <strong>{{protein.codigoUniProt}}</strong></p>
        <div class="divider"></div>
        <p>Kegg Id: <strong>{{protein.codigoKegg}}</strong></p>
      </div>
    </li>

    <li>
      <div class="collapsible-header valign-wrapper">
        <img src="../../assets/icons/sequence.svg" class="img-small">
        <p class="flow-text">Sequence & Actives sites</p>
      </div>
      <div class="collapsible-body">
        <app-proviz-view></app-proviz-view>
      </div>
    </li>

    <li>
      <div class="collapsible-header valign-wrapper">
        <img src="../../assets/icons/test.svg" class="img-small">
        <p class="flow-text"> Reactions & Kinetics information</p>
      </div>
      <div class="collapsible-body">
        <app-reaction-list></app-reaction-list>
      </div>
    </li>

    <li>
      <div class="collapsible-header valign-wrapper">
        <img src="../../assets/icons/structure.svg" class="img-small">
        <p class="flow-text"> Structures vizualization</p>
      </div>
      <div class="collapsible-body">
        <app-structure-list></app-structure-list>
      </div>
    </li>

    <li>
      <div class="collapsible-header valign-wrapper">
        <img src="../../assets/icons/server.png" class="img-small">
        <p class="flow-text">  Conformational diversity/ Bibliography & External links</p>
      </div>
      <div class="collapsible-body">
        <app-links></app-links>
      </div>
    </li>

  </ul>
</div>
