.margin15 {
    margin: 15px;
}

.gray {
    background-color: gray !important;
}

.hand { 
    cursor: pointer; 
}

.mat-row:hover {
    background-color: #f3bfbe;
}

button:focus {
    outline: none;
    background-color: #EF5350;
}
