<div class="section">
  <search-component class="search-component"></search-component>
</div>

<div class="row">
  <div class="col">
    <a class="btn-floating redLight" [class.gray]="showList" (click)="changeView(false)"><i class="material-icons">apps</i></a>
  </div>
  <div class="">
    <a class="btn-floating redLight" [class.gray]="!showList" (click)="changeView(true)"><i class="material-icons">format_align_justify</i></a>
  </div>
</div>


<div class="section" *ngIf="showList">
  <div class="row margin15">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let protein" class="hand" (click)="onSelect(protein)"> {{protein.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="organismo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Organism </th>
        <td mat-cell *matCellDef="let protein" class="hand" (click)="onSelect(protein)"> {{protein.organismo}} </td>
      </ng-container>
      <ng-container matColumnDef="familia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Family </th>
        <td mat-cell *matCellDef="let protein" class="hand" (click)="onSelect(protein)"> {{protein.familia}} </td>
      </ng-container>
      <ng-container matColumnDef="codigoUniProt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Uniprot Id </th>
        <td mat-cell *matCellDef="let protein" class="hand" (click)="onSelect(protein)"> {{protein.codigoUniProt}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<div class="section" *ngIf="!showList">
  <div class="row" >
      <div *ngFor="let protein of proteins" (click)="showProtein(protein.id)">
        <app-protein-card [protein]="protein"></app-protein-card>
    </div>
  </div>
</div>

<div class="section no-pad-bot" id="index-banner" *ngIf="isEmptyList">
  <div class="container">
    <br><br>
    <div class="row center">
      <h5 class="header col s12 light">No proteins were found</h5>
    </div>
    <br><br>
  </div>
</div>
