<div class="container">
  <div class="row search">
    <div class="col s2">

      <select materialize="material_select" [(ngModel)]="searchType">
        <option value="" disabled>Search by:</option>
        <option value="PROTEIN" selected class="red">Protein</option>
        <option value="REACTION" >Reaction</option>
        <option value="ORGANISM" >Organism</option>
      </select>
    </div>
    <div class="col s9">
      <input type="text" [(ngModel)]="textSearch" placeholder="Search proteins by name or uniprot" (keyup.enter)="search()">
    </div>
    <div class="col s1">
      <a class="btn-floating redLight" (click)="search()"><i class="material-icons">search</i></a>
    </div>
  </div>

  <div class="row center examples">
    <div class="col example" (click)="exampleProtein()">Example Protein: Albumin</div>
    <div class="col separator">|</div>
    <div class="col example" (click)="exampleReaction()">Example Reaction: L-aminoacylase</div>
    <div class="col separator">|</div>
    <div class="col example" (click)="exampleOrganism()">Example Organism: Macrophoma commelinae</div>
  </div>

  <div class="row center">
    <a class="waves-effect waves-light btn-large redLight" (click)="getAllProteins()">Show all proteins</a>
  </div>
</div>
