ul.dropdown-content.select-dropdown li:not(.disabled) span { 
  color: #EF5350;
}

.search-bar{
  width: 100% ;
}

.redLight {
  background-color: #EF5350 !important;
} 

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #EF5350 !important;
  box-shadow: 0 1px 0 0 #EF5350 !important;
}