<div class="container">
  <h4 class="center" style="color:#616161">Download</h4>
  <div class="row center">
    <p>
      The download table contains the proteins listed in our databe, with the information related about their canonical and promiscuous activities as well as the bibliography supporting these data. Do not forget citing <strong>Protmiscuity</strong>, for more information see the <a routerLink="/home">Home</a> and <a routerLink="/contact">Contact</a> pages.
    </p>
  </div>
  <div class="row center">
    <a class="waves-effect waves-light btn-large red lighten-1" href="assets/download/Protmiscuty.csv" target="_black">Download</a>
  </div>
</div>

